fd-header { display: block; padding: 16px 0 0; margin-bottom: 38px; }
fd-header .logo {
    width: 80px;
    height: 80px;
    display: inline-block;
    background: url("/res/gphx/logo.svg") no-repeat center;
    background-size: 100%;
    font: 0/0 a;
    margin: 0 0 8px;
}

fd-header .inner h1 { font-size: 40px; line-height: 1em; color: #fff; margin-bottom: 16px; }
fd-header .inner p { font-size: 18px; line-height: 24px; color: var(--Concrete); margin-bottom: 48px; }


fd-header.stacked-tabs { margin-bottom: 156px; }

    fd-header nav {
        display: block;
        padding: 16px;
        background-color: var(--DeepBlue);
        transition: box-shadow 0.25s ease-out;
    }
    fd-header.stacked-tabs nav {
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 5;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.15);
    }
        fd-header.stacked-tabs fd-archive-selector { top: 12px; position: absolute; }