fd-tabs {
    display: block;
    padding: 16px;
    background-color: var(--DeepBlue);
    transition: box-shadow 0.25s ease-out;
}

    fd-tabs ul {
        display: flex;
        width: 524px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 3px;
        overflow: hidden;
    }
        fd-tabs li { flex-grow: 1; }
        fd-tabs a {
            display: block;
            font: 700 16px/1em IBM Plex Mono, Sans-serif;
            color: #fff;
            padding: 12px 0 10px;
            border-bottom: solid 2px transparent;
            transition: all 0.15s ease-out;
        }
        fd-tabs a:hover { text-decoration: none; background-color: rgba(255, 255, 255, 0.1); }
        fd-tabs .active a { border-bottom-color: var(--FireRed); background: var(--FireRed15); }