fd-articles.fd-block li a { width: 408px; height: 272px; }
    fd-articles.fd-block li figure {
        margin: -16px -16px 16px;
        height: 192px;
        padding: 0;
        background: var(--Pale) no-repeat center;
        background-size: cover;
    }
