fd-online-training.fd-block li a { width: 408px; height: 120px; }
    fd-online-training.fd-block li h1 { font-size: 22px; margin-bottom: 12px; }
    fd-online-training.fd-block li p { font-size: 16px; line-height: 24px; }
