/* FD Block */
.fd-block { display: block; text-align: left; width: 972px; max-width: 100%; margin: 0 auto 64px; }
.fd-block h1 { font-size: 32px; line-height: 1em; color: #fff; margin-bottom: 12px; }
.fd-block ul { font-size: 0; white-space: nowrap; overflow-x: auto; -webkit-overflow-scrolling: touch; padding: 12px 0 24px; }
    .fd-block li { display: inline-block; vertical-align: top; margin-right: 24px; }
        .fd-block li a {
            display: block;
            width: 192px;
            height: 294px;
            padding: 16px;
            box-sizing: border-box;
            overflow: hidden;
            background: #fff;
            border-radius: 3px;
            white-space: normal;
            transition: all 0.15s ease-out;
        }
        .fd-block li a:hover { text-decoration: none; transform: translateY(-4px); }
        .fd-block li figure {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 192px;
            box-sizing: border-box;
            margin: -16px -16px 16px;
            padding: 16px;
        }
        .fd-block li figure img { max-width: 100%; max-height: 100% }
        .fd-block li h1 { font-size: 18px; line-height: 24px; color: var(--DeepBlue); margin-bottom: 4px; }
        .fd-block li p { font-size: 14px; line-height: 18px; color: var(--Concrete); }


        .fd-block .proposal-item a {
            background: transparent url(/res/gphx/bg_stripes.svg) repeat left top;
            background-size: 25px auto;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
        }
            .fd-block .proposal-item h1 { font-size: 24px; line-height: 36px; color: #fff; margin-bottom: 16px; }
            .fd-block .proposal-item em {
                display: block;
                padding: 12px;
                width: 100%;
                max-width: 172px;
                box-sizing: border-box;
                font: 700 16px/1em IBM Plex Mono, Sans-serif;
                color: #fff;
                text-align: center;
                background-color: var(--FireRed);
                border-radius: 6px;
            }