/* Shared */
@import url("/res/css/bulletproof.css");
@import url("/res/css/vars.colors.css");
@import url("/res/css/vars.breakpoints.css");

/* Elements */
@import url("/ui/header/header_element.css");
@import url("/ui/tabs/tabs_element.css");
@import url("/ui/content_blocks/block/block_element.css");
@import url("/ui/content_blocks/books/books_element.css");
@import url("/ui/content_blocks/online_training/online_training_element.css");
@import url("/ui/content_blocks/build_systems/build_systems_element.css");
@import url("/ui/content_blocks/conferences/conferences_element.css");
@import url("/ui/content_blocks/articles/articles_element.css");
@import url("/ui/content_blocks/libraries/libraries_element.css");

/* Main */
body { font-family: "Roboto", Sans-serif; color: var(--Concrete); background: var(--DeepBlue); }
h1, h2, h3, h4 { font-family: "IBM Plex Mono", Sans-serif; font-weight: 500; }
[data-hidden='true'] { display: none!important; }

fd-app { display: block }

footer { font-size: 14px; color: var(--Concrete); padding: 48px 0; }
    footer a { color: var(--Concrete); }
    footer a:hover { color: var(--FireRed); }


@media (--desktop-S) {
    fd-header .inner { padding: 0 16px; }
    .fd-block > h1 { padding-left: 16px; }
        .fd-block ul { padding-left: 16px; }
}